## Importing Packages

In [167]:
#Importing the necessary packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sqlite3

%matplotlib inline

## Reading the Datasets

In [178]:
#Reading the datasets
bom_movie_gross = pd.read_csv('bom.movie_gross.csv')
conn = sqlite3.connect('im.db')
imdb_movie_basics = pd.read_sql("SELECT * from movie_basics;",conn)
imdb_movie_ratings = pd.read_sql("SELECT * from movie_ratings;",conn)
conn.close()

In [179]:
bom_movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [180]:
bom_movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [181]:
imdb_movie_basics.head()

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [182]:
imdb_movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [183]:
imdb_movie_ratings.head()

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [184]:
imdb_movie_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

## Joining the Datasets

In [185]:
#Joining the imdb data tables
imdb_movie_basics.set_index('movie_id',inplace=True)
imdb_movie_ratings.set_index('movie_id',inplace=True)
imdb_movie_basic_ratings = imdb_movie_basics.join(imdb_movie_ratings,how='inner')
imdb_movie_basic_ratings.head()

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
movie_id,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119

In [186]:
#Joining the merged imdb tables with the bom_movie_gross table
bom_movie_gross.set_index('title',inplace=True)
imdb_movie_basic_ratings.set_index('primary_title',inplace=True)
bom_imdb = bom_movie_gross.join(imdb_movie_basic_ratings,how='inner')
bom_imdb.head()

,studio,domestic_gross,foreign_gross,year,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
'71,RAtt.,1300000.0,355000,2015,'71,2014,99.0,"Action,Drama,Thriller",7.2,46103
"1,000 Times Good Night",FM,53900.0,NaN,2014,Tusen ganger god natt,2013,117.0,"Drama,War",7.1,6848
10 Cloverfield Lane,Par.,72100000.0,38100000,2016,10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery",7.2,260383
10 Years,Anch.,203000.0,NaN,2012,10 Years,2011,100.0,"Comedy,Drama,Romance",6.1,22484
1001 Grams,KL,11000.0,NaN,2015,1001 Gram,2014,93.0,Drama,6.3,1301

In [187]:
#Reseting the index of the bom_imdb dataframe
bom_imdb = bom_imdb.reset_index()
bom_imdb = bom_imdb.rename(columns={'index':'primary_title'})
bom_imdb.head()

,primary_title,studio,domestic_gross,foreign_gross,year,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,'71,RAtt.,1300000.0,355000,2015,'71,2014,99.0,"Action,Drama,Thriller",7.2,46103
1,"1,000 Times Good Night",FM,53900.0,NaN,2014,Tusen ganger god natt,2013,117.0,"Drama,War",7.1,6848
2,10 Cloverfield Lane,Par.,72100000.0,38100000,2016,10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery",7.2,260383
3,10 Years,Anch.,203000.0,NaN,2012,10 Years,2011,100.0,"Comedy,Drama,Romance",6.1,22484
4,1001 Grams,KL,11000.0,NaN,2015,1001 Gram,2014,93.0,Drama,6.3,1301